<header class="header">
  <div class="header-container">
    <div
      class="logo-area"
      (click)="scrollToSection($event, 'hero')"
      style="cursor: pointer"
    >
      <span class="logo-main">Dutra</span>
      <span class="logo-sub">Esther</span>
    </div>

    <nav class="nav-menu">
      <ul>
        <li><a href="#about">À Propos</a></li>
        <li><a href="#competences">Compétences</a></li>
        <li><a href="#projects">Projets</a></li>
      </ul>
    </nav>
  </div>
</header>
