<header class="header">
  <div class="header-container">
    <div
      class="logo-area"
      (click)="scrollToSection($event, 'hero')"
      style="cursor: pointer"
    >
      <span class="logo-main">Dutra</span>
      <span class="logo-sub">Esther</span>
    </div>

    <button class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>

    <div class="mobile-menu" [class.show]="isMenuOpen">
      <a href="#about" (click)="closeMenu()">À Propos</a>
      <a href="#competences" (click)="closeMenu()">Compétences</a>
      <a href="#projects" (click)="closeMenu()">Projets</a>
    </div>
  </div>
</header>
