<section class="projects-section">
  <h2>Projets</h2>
  <div class="projects-container">
    <div class="projects-grid">
      <div class="project-card" *ngFor="let project of getVisibleProjects()">
        <div class="project-images">
          <img
            [src]="project.image"
            [alt]="project.name"
            class="project-image"
          />
        </div>
        <div class="project-info">
          <h3 class="project-name">{{ project.name }}</h3>
          <p class="project-role">{{ project.role }}</p>
          <ul class="project-details">
            <li><strong>Objectif:</strong> {{ project.objective }}</li>
            <li><strong>Outils:</strong> {{ project.tools.join(", ") }}</li>
            <li><strong>Durée:</strong> {{ project.duration }}</li>
          </ul>
          <a
            [href]="project.link"
            class="project-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            Voir le Projet <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="pagination">
      <button
        class="pagination-button"
        (click)="prevPage()"
        [disabled]="currentPage === 1"
      >
        <i class="fas fa-chevron-left"></i>
      </button>
      <div class="pagination-dots">
        <button
          *ngFor="let page of [].constructor(totalPages); let i = index"
          class="dot"
          [class.active]="currentPage === i + 1"
          (click)="goToPage(i + 1)"
          [attr.aria-label]="'Aller à la page ' + (i + 1)"
        ></button>
      </div>
      <button
        class="pagination-button"
        (click)="nextPage()"
        [disabled]="currentPage === totalPages"
      >
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>
</section>
