<section class="competences-section">
  <h2 class="competences-title">
    <i class="fas fa-star"></i>
    Compétences
  </h2>
  <div class="competences-container">
    <div class="tabs">
      <button
        class="tab-button"
        [class.active]="activeTab === 'technical'"
        (mouseenter)="!isMobile && setActiveTab('technical')"
        (click)="isMobile && setActiveTab('technical')"
      >
        Techniques
      </button>
      <button
        class="tab-button"
        [class.active]="activeTab === 'soft'"
        (mouseenter)="!isMobile && setActiveTab('soft')"
        (click)="isMobile && setActiveTab('soft')"
      >
        Soft Skills
      </button>
      <button
        class="tab-button"
        [class.active]="activeTab === 'languages'"
        (mouseenter)="!isMobile && setActiveTab('languages')"
        (click)="isMobile && setActiveTab('languages')"
      >
        Langues
      </button>
    </div>

    <div class="tab-content" [class.active]="activeTab === 'technical'">
      <div
        class="competence-card"
        *ngFor="let competence of technicalCompetences"
      >
        <h3><i [class]="competence.icon"></i>{{ competence.name }}</h3>
        <p>{{ competence.description }}</p>
        <span class="skill-note" *ngIf="competence.isSpecial"
          >Mention spéciale</span
        >
      </div>
    </div>

    <div class="tab-content" [class.active]="activeTab === 'soft'">
      <div class="competence-card" *ngFor="let competence of softCompetences">
        <h3><i [class]="competence.icon"></i>{{ competence.name }}</h3>
        <p>{{ competence.description }}</p>
      </div>
    </div>

    <div class="tab-content" [class.active]="activeTab === 'languages'">
      <div
        class="competence-card"
        *ngFor="let competence of languageCompetences"
      >
        <h3><i [class]="competence.icon"></i>{{ competence.name }}</h3>
        <p>{{ competence.description }}</p>
      </div>
    </div>
  </div>
</section>
